<% if signed_in? %>
<div class="row">
    <section class="stats">
        <%= render 'shared/stats' %>
    </section>
    <section class="post_form">
        <%= render 'shared/post_form' %>
        <%= render 'shared/posts_search_form' %>
    </section>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h3>自分の投稿</h3>
            </div>
        </div>
        <%= render 'shared/feed' %>
    </div>
</div>
<% else %>
<h1>釣りコネクトへようこそ</h1>
<p style="color : red">ログイン画面でゲストユーザーログインができます</p>
<h2>釣りコネクトとは</h2>
<p>
    <img src="https://pakutaso.cdn.rabify.me/shared/img/thumb/PP_hutou.jpg?d=350" width="60%" height="600px">
</p>
<p>釣果を投稿したり見たりして釣人同士が繋がるサイトです</p>
<% end %>